.app {
	width: 100vw;
	height: 100vh;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	background-color: #f2f2f2;
	position: relative;
	overflow-y: scroll;
}
