.app {
	width: 22rem;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: auto;
	padding: 0.5rem;
	background-color: rgb(235, 235, 235);
}
