.header {
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	background: #fff;
	height: 5vh;
}
.header h4 {
	text-align: center;
	align-self: center;
}
.user {
	display: flex;
	align-items: center;
}
.user img {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
}
.user button {
	background-color: inherit;
	outline: none;
	border: none;
	margin-right: 0.5rem;
	cursor: pointer;
}
.user button:hover {
	text-decoration: underline;
	color: blue;
}
