.balance {
	width: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10vh;
}
.balance__amount {
	width: 100%;
	padding: 1rem;
	color: #fff;
}

.balance__amount h3 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.balance__amount h3 span:first-of-type {
	margin-left: 0.5rem;
}

.minus {
	background-color: #ff6384;
}
.plus {
	background-color: #4bc0c0;
}
