.plus {
	border-right: 5px solid #4bc0c0;
}
.minus {
	border-right: 5px solid #ff6384;
}
li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 10px;
	/* margin: 10px 0; */
	font-weight: 500;
	position: relative;
	border-radius: 0.5rem;
	width: 90%;
	height: 4rem;

	margin: 0 auto 1rem;
	font-size: 1.1rem;
}
li h4 {
	position: relative;
}
li span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	font-size: inherit;
}
.deleteBtn {
	cursor: pointer;
	border-radius: 0.5rem;
	background-color: inherit;
	border: 0;
	color: #fff;
	line-height: 20px;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
}
li:hover .deleteBtn {
	opacity: 1;
}
li:hover span {
	transform: translateX(-3rem);
}
