.plus {
	border-right: 5px solid #2ecc71;
}
.minus {
	border-right: 5px solid #c0392b;
}
li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
	margin: 10px 0;
	font-weight: 500;
	position: relative;
}
h4 {
	position: relative;
}
span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
}
.deleteBtn {
	cursor: pointer;
	border-radius: 0.5rem;
	background-color: inherit;
	border: 0;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	padding: 2px 5px;
	position: absolute;
	top: 14%;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
}
li:hover .deleteBtn {
	opacity: 1;
}
li:hover span {
	transform: translateX(-1.5rem);
}
