.incExpContainer {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.incExpContainer > div {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;

	padding: 0.5rem;
}
.incExpContainer h4 {
	text-transform: uppercase;
}
.incExpContainer div:first-of-type {
	border-right: 1px solid #dedede;
}
.money {
	font-weight: 500;
}
.plus {
	color: green;
}
.minus {
	color: red;
}
