.incExpContainer {
	background-color: inherit;
	margin-top: 22vh;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	width: 100%;
	padding: 0 0.5em;
}
.incExpContainer > div {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	background-color: #fff;

	padding: 0.5rem;
}
.incExpContainer h4 {
	text-transform: uppercase;
}
.money {
	font-weight: 500;
}
.plus {
	color: #4bc0c0;
}
.minus {
	color: #ff6384;
}
